<footer class="rodape">

    <ul class="col-descricao">
        <p>Sobre nós</p>
        <p>Somos um curso presencial e EAD com diversos idiomas.</p>
    </ul>

    <ul class="menu-rodape">
        <li><a href="cursos.html">CURSOS</a></li>
        <li><a href="unidades.html">UNIDADES</a></li>
        <li><a href="contato.html">CONTATOS</a></li>
    </ul>

    <ul class="menu-social">
        <li><a href="#"></a>Linkedin:</li>
    </ul>

    <ul class="menu-infos">
        <p>&copy; 2025 - Desenvolvido por: Giovanna | Projeto ficticio sem fins comerciais</p>
        <p>Este é um projeto para fins de aprendizado em  HTML | CSS | PYTHON | DJANGO</p>

    </ul>

</footer>