{% load static %}
<header id="topo">
    <div class="logo">
        <a href="index.html"><img src = "logo.jpg"></a>
        <a href="index.html"><img src = "multilínguas.png"></a>
    </div>

    <nav class="menu">

        <ul class="menu-navegacao">
            <li><a href="cursos.html">CURSOS</a></li>
            <li><a href="unidades.html">UNIDADES</a></li>
            <li><a href="contato.html">CONTATOS</a></li>
        </ul>

    </nav>
    <div class="login">
    <button class="login-botao">LOGIN</button>
</div>
</header>
