{% block conteudo %}
    <div class="responsive-table">
        <table class="alunos-table">
            <caption class="table-caption">
                Listagem de Alunos
            </caption>
            <thead>
                <tr class="table-row table-row-header" >
                    <th class="table-header">ID</th>
                    <th class="table-header">Nome</th>
                    <th class="table-header">Sobrenome</th>
                    <th class="table-header">Email</th>
                    <th class="table-header">Telefone</th>
                </tr>
            </thead>
            <tbody>
                {% for aluno in alunos  %}
                    <tr class="table-row">
                        <td class="table-cel">{{aluno.id}}</td>
                        <td class="table-cel"> {{aluno.nome}}</td>
                        <td class="table-cel"> {{aluno.sobrenome}}</td>
                        <td class="table-cel"> {{aluno.email}}</td>
                        <td class="table-cel"> {{aluno.telefone}}</td>
                        </tr>
                
                
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock conteudo %}



